.body {
    font-family: 'JosefinSans', Arial, sans-serif;

    margin: 0;
    padding: 0;

    background-color: #eaeaea;
}

.section,
.nav {
    width: 77.77%;
    margin: 0 11.11% 85px 11.11%;

    background-color: #f8f8f8;
    box-shadow: 0 0 40px -12px #000;
}

.header {
    padding: 250px 0 120px 0;
}

.header__logo {
    display: block;

    margin: auto;
}

.nav {
    display: flex;

    height: 122px;

    justify-content: center;
}

.nav-container {
    display: flex;

    width: 930px;
    height: 100%;

    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;

    width: 535px;

    justify-content: space-between;
}

.menu__item {
    font-size: 16px;

    text-decoration: none;
    text-transform: uppercase;

    color: rgb(0, 0, 0);
}

.search {
    display: flex;

    width: 160px;
    height: 26px;

    cursor: pointer;

    border: 1px solid rgb(194, 194, 194);

    justify-content: center;
}

.search__btn {
    border: none;
    outline: none;
    background: none;
}

.search__input {
    font-size: 12px;

    width: 100px;

    text-transform: uppercase;

    color: green;
    border: none;
    outline: none;
    background: transparent;
}

.hero-page {
    position: relative;

    height: 440px;

    background: url(../img/BananasFosterIceCreamCake.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-page__left-container {
    position: absolute;
    left: 94px;

    display: flex;
    flex-direction: column;

    width: 33%;
    height: 100%;

    justify-content: center;
    align-items: flex-start;
}

.hero-page__logo {
    margin: 0 0 35px 0;
}

.hero-page__title {
    font-family: 'PlayfairDisplay', Times New Roman, serif;
    font-size: 24px;

    margin: 0 0 30px 0;

    color: rgb(146, 16, 38);
}

.hero-page__text {
    font-size: 16px;

    margin: 0 0 25px 0;
}

.btn {
    font-size: 12px;

    width: 103px;
    height: 26px;

    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;

    color: rgb(0, 0, 0);
    border: 1px solid rgb(194, 194, 194);
    outline: none;
    background: transparent;
}

.popular-recipes {
    display: flex;

    height: 373px;
    padding: 40px 40px 0 40px;

    justify-content: space-between;
    align-items: flex-start;
}

.recipe-item {
    width: 30%;
}



.recipe-item__title {
    font-size: 18px;
}

.recipe-item__photo {
    display: flex;

    width: 100%;
    height: auto;
}

.benefits
{
	font-size: 12px;
	color: rgb(85, 85, 85);

	display: flex;

	width: 45%;

	justify-content: space-between;
	align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;

    width: 77.77%;
    height: 180px;
    margin: 0 11.11% 0 11.11%;

    background-color: #2f2f2f;

    justify-content: center;
    align-items: center;
}

.footer-container {
    position: relative;

    display: inline-flex;

    width: 930px;
    height: 20%;

    justify-content: space-between;
    align-items: center;
}

.footer .menu {
    width: 400px;
}

.footer .menu__item {
    font-size: 12px;

    color: rgba(254, 254, 254, .502);
}

.copyright {
    font-size: 12px;

    text-transform: uppercase;

    color: rgba(254, 254, 254, .502);
}

.socials-container {
    position: relative;

    display: inline-flex;

    width: 930px;

    justify-content: space-between;
    align-items: center;
}

.socials {
    position: absolute;
    top: 10px;
    right: 0;

    display: flex;

    width: 97px;

    justify-content: space-between;
}

.socials__item {
    text-decoration: none;
}

.socials__item-img {
    width: 15px;
    height: auto;
}
