.body {
    font-family: 'JosefinSans', Arial, sans-serif;

    margin: 0;
    padding: 0;

    background-color: #eaeaea;
}

.section,
.nav {
    width: 77.77%;
    margin: 0 11.11% 85px 11.11%;

    background-color: #f8f8f8;
    box-shadow: 0 0 40px -12px #000;
}

.header {
    padding: 250px 0 120px 0;
}

.header__logo {
    display: block;

    margin: auto;
}

.nav {
    display: flex;

    height: 122px;

    justify-content: center;
}

.nav-container {
    display: flex;

    width: 930px;
    height: 100%;

    justify-content: space-around;
    align-items: center;
}

.menu {
    display: flex;

    width: 57.5%;

    justify-content: space-between;
}

.menu__item {
    font-size: 16px;

    text-decoration: none;
    text-transform: uppercase;

    color: #000000;
}

.menu-mobile
{
	display: none;	
}

.search {
    display: flex;

    width: 17.2%;
    height: 26px;

    cursor: pointer;

    border: 1px solid #C2C2C2;

    justify-content: center;
}

.search__btn {
    border: none;
    outline: none;
    background: none;
}

.search__input {
    font-size: 12px;

    width: 62.5%;

    text-transform: uppercase;

    color: green;
    border: none;
    outline: none;
    background: transparent;
}

.hero-page {
    position: relative;

    height: 440px;

    background: url(../img/BananasFosterIceCreamCake.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-page__left-container {
    position: absolute;
    left: 94px;

    display: flex;
    flex-direction: column;

    width: 33%;
    height: 100%;

    justify-content: center;
    align-items: flex-start;
}

.hero-page__logo {
    margin: 0 0 35px 0;
}

.hero-page__title {
    font-family: 'PlayfairDisplay', Times New Roman, serif;
    font-size: 24px;

    margin: 0 0 30px 0;

    color: #921026;
}

.hero-page__text {
    font-size: 16px;

    margin: 0 0 25px 0;
}

.btn {
    font-size: 12px;

    width: 103px;
    height: 26px;

    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;

    color: rgb(0, 0, 0);
    border: 1px solid #C2C2C2;
    outline: none;
    background: transparent;
}

.popular-recipes {
    display: flex;

    height: 373px;
    padding: 40px 40px 0 40px;

    justify-content: space-between;
    align-items: flex-start;
}

.recipe-item {
    width: 30%;
}



.recipe-item__title {
    font-size: 18px;
}

.recipe-item__photo {
    display: flex;

    width: 100%;
    height: auto;
}

.benefits
{
	font-size: 12px;
	color: #555555;

	display: flex;

	width: 45%;

	justify-content: space-between;
	align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;

    width: 77.77%;
    height: 180px;
    margin: 0 11.11% 0 11.11%;

    background-color: #2f2f2f;

    justify-content: center;
    align-items: center;
}

.footer-container {
    position: relative;

    display: inline-flex;

    width: 930px;
    height: 20%;

    justify-content: space-between;
    align-items: center;
}

.footer .menu {
    width: 400px;
}

.footer .menu__item {
    font-size: 12px;

    color: #7d7d7d;
}

.copyright {
    font-size: 12px;

    text-transform: uppercase;

    color: #7d7d7d;
}

.socials-container {
    position: relative;

    display: inline-flex;

    width: 930px;

    justify-content: space-between;
    align-items: center;
}

.socials {
    position: absolute;
    top: 10px;
    right: 0;

    display: flex;

    width: 97px;

    justify-content: space-between;
}

.socials__item {
    text-decoration: none;
}

.socials__item-img {
    width: 15px;
    height: auto;
}




@media (max-width: 480px)
{
	.header,
	.menu,
	.hero-page__logo,
	.hero-page__title,
	.hero-page__text,
	.copyright,
	.socials
	{
		display: none;
	}

	.nav,
	.section,
	.footer
	{
		width: 100%;
		margin: 0;
	}


	.section,
	.nav
	{
		box-shadow: none;
	}
	.nav
	{
		height: 100px;
	}

    .search 
    {
        width: 38%;
 
        border: none;
    }

	.menu-mobile {
       display: block;
    }

    .menu-mobile__icon
	{
		display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 15px;
        width: 22px;
	}



	.menu-mobile__icon-item
	{
        display: block;
        border-bottom: 2px solid black;
	}

	.hero-page
	{
		height: 269px;
	}

	.hero-page__left-container
    {
    
        left: 0;

        width: 100%;
        height: 100%;

        justify-content: flex-end;
    
    }

	.popular-recipes
	{
	   flex-direction: column;
	   padding: 0;
	}

    .recipe-item__description
    {   
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 90px;
        background: #fbfcfd;
    }
	.recipe-item 
    {
        width: 100%;   
    }

	.btn
	{
		width: 100%;
		height: 69px;

		font-size: 18px;
		color: #000000;
		background: #fbfcfd;
		border: none;
	}

    .footer 
    {
        display: none;
    }
}
	

